@font-face {
    font-family: 'BlackTakora'; 
    src: url('/BlackTakora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Forgore';
    src: url('/Forgore.woff') format('woff');
}

body {
    font-family: 'BlackTakora', sans-serif;
}